<div class="modal fade" {% block modal-id %}{% endblock %} data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{% block modal-title %}{% endblock %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% block modal-content %}{% endblock %}
        </div>
        <div class="modal-footer" {% block modal-footer-style %}{% endblock %}>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" {% block modal-button1-style %}{% endblock %}>{% block modal-button1 %}{% endblock %}</button>
          <button type="button" class="btn btn-primary">{% block modal-button2 %}{% endblock %}</button>
        </div>
      </div>
    </div>
  </div>
  