{% extends 'base.html' %}

{% block title %} Administração {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm">
            {% if user.is_authenticated %}
                <h3>Olá {{user.username}}!</h3>
                <a href="{% url 'person_new' %}"  class="btn btn-info">Novo Cliente</a>
                <a href="{% url 'mylogout' %}" class="btn btn-info">Sair</a>
            {% endif %}
        </div>
        <div class="col-6">
            <h4>Lista de clientes</h4>
            <br>
            {% for person in persons %}
                    <li class="list-group-item">
                                <a href="{% url 'person_update' person.id %}">{{ person.first_name}} {{ person.last_name}}  </a>
                                <a href="{% url 'person_delete' person.id %}" class="btn btn-danger btn-sm excluir" >Deletar</a>
                    </li>
            {% endfor %}
        </div>
        <div class="col-sm">

        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container alinhar">
        <span class="text-muted">Desenvolvimento Web com Django.</span>
      </div>
    </footer>
{% endblock %}